@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins:wght@400;500&family=Roboto&family=Source+Serif+4:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: lightblue;
    margin: 0;

}

main {
    display: flex;
    justify-content: center;
}

.section-title {
    color: blue;
    margin-left: 20px;
    margin-top: 3px;
}

.container {
    background-color: white;
    width: 870px;
    padding: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;

}

.player-name {
    margin-left: 20px;
}

.player img {
    height: 106px;
    width: 106px;

}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 40px 0px;
    height: 1px;
    background-color: gray;
}